<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <nav class="navbar navbar-nav navbar-left">
           <span>Bookers</span>
          </nav>
        </div>

        <div class="col-md-4">
          <nav>
            <ul class="navbar navbar-nav navbar-right">
              <% if user_signed_in? %>

                <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home  </li>
                <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Users  </li>
                <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span>  Books  </li>
                <li><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <%= link_to "logout", destroy_user_session_path, method: :delete %></li>

              <% else %>
               <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home  </li>
                <li><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  About  </li>
                <li><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><%= link_to "  Sign up",new_user_registration_path %>  </li>
                <li><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><%= link_to "  login", new_user_session_path %></li>
              <% end %>

            </ul>
          </nav>
        </div>
      </div>
    </div>
   </div>

  </header>

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <% flash[:notice] %></div>
    <% end %>
   

    <%= yield %>
  </body>

  <footer>
    CopyRight Infratop.Inc
  </footer>
</html>
