<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">

    <div class="container">

          <nav class="navbar navbar-nav navbar-left">
           <span class="bookers">Bookers</span>
          </nav>
        
          <nav>
            <ul class="navbar navbar-nav navbar-right">
              <% if user_signed_in? %>

                <li class="icon">
                  <%= link_to user_path(current_user.id) do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home  <% end %>
                </li>
                <li class="icon">
                  <%= link_to users_path do %><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Users  <% end %>
                </li class="icon">
                <li class="icon">
                  <%= link_to books_path do %><span class="glyphicon glyphicon-book" aria-hidden="true"> Books  </span>
                  <% end %>
                </li>
                <li class="icon">
                  <%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out" aria-hidden="true"> logout  </span>
                  <% end %>
                </li class="icon">

              <% else %>
               <li class="icon">
                <%= link_to root_path do %><span class="glyphicon glyphicon-home" aria-hidden="true">  Home  </span>
                <% end %>
               </li>

                <li class="icon">
                  <%= link_to home_about_path do %><span class="glyphicon glyphicon-link" aria-hidden="true">  About  </span>
                  <% end %>
                </li>

                <li class="icon">
                  <%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-edit" aria-hidden="true">  sign up  </span>
                  <% end %>
                </li>

                <li class="icon">
                  <%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-out" aria-hidden="true">   login</span>
                  <% end %>
                </li>
              <% end %>

            </ul>
          </nav>
    </div>
      
  </header>

  <body>

    <p id="notice"><%= flash[:notice] %></p>

    <%= yield %>
  </body>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.Inc</p>
        </div>
      </div>
    </div>
  </footer>

</html>
